/*************************************************
    RESET STYLES
 *************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.text-left {
    text-align: left;
}

li {
    list-style: none;
    padding: 10px 0;
}

span {
    display: block;

}

.align-center {
    align-items: center;
}


/* DESKTOP VERSION */
/* MAIN CONTENT STYLE */
#main-content {
    background-color: #141922;
    height: calc(100vh - 100px);
}

/* ************************************************* */
/* CONTENT STYLE */

#content {
    background-color: #141922;
    padding-top: 100px;
    width: calc(100vw - 200px);
    overflow-y: auto;
}

section {
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

nav {
    background-color: #080b127c;
    height: 100px;
    width: 98.8%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: end;
    align-items: center;
}

nav a {
    color: white;
    position: absolute;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 0.8rem;

}


ul.flex {
    justify-content: center;
    flex-wrap: wrap;
}


#sub-nav ul li {
    color: #707377;
    padding: 15px;
}

#sub-nav ul li a {
    color: #707377;
    font-size: 0.8rem;
}

#sub-nav ul li a:hover {
    color: #c3cad3;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 95%;
    margin: 0 auto;
}



.image {
    margin: 10px 0;
    border-radius: 50%;
    position: relative;
}

.image img {
    width: 100%;
}

.image img:hover+.play-btn {
    display: block;
}

.image img:hover {
    filter: brightness(0.4);
}



.play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.play-btn:hover {
    display: block;
}

.play-btn:hover+img {
    filter: brightness(0.4);
}



.image img.circle {
    border-radius: 50%;
    object-fit: cover;
}

.title {
    color: white;
    text-align: center;
    font-weight: bold;
}

.title h1 {
    padding: 10px 0;
}

.sub-title {
    color: #707377;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.col {
    width: calc(100% / 6 - 22px);
}


/* create-for-you STYLE */
.create-for-you div.sub-title {
    text-align: left;
}

/* popolar STYLE */
.popolar div.sub-title {
    text-align: left;
}

.popolar div.for-you .row div.col div.image {
    border-radius: 50%;
}

/* **************************************************** */
/* SIDE BAR STYLE */
#side-bar {
    background-color: #000000;
    height: 100%;
    width: 200px;
    z-index: 500;
    color: white;

}

.container-side div {
    padding: 15px;
}

.container-side div:last-child {
    padding-top: 0px;
}

.wrap-up {
    height: 300px;
}

.wrap-middle {
    height: calc(100vh - 490px);
    overflow-y: auto;
}

.wrap-bottom {
    height: 110px;
    padding: 0;
    font-size: 0.7rem;
}

.container-side div.btn-section,
.container-side div.list-playlist,
.container-side div.add-playlist a {
    font-size: 0.7rem;
}

#playlist {
    color: white;
    padding-bottom: 10px;
}



.list-player ul {
    height: 100vh;
}

.logo {
    width: 80%;
}

.user {
    padding: 5px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

a {
    color: #707377;
    font-weight: bold;
}

span {
    color: #707377;
    font-weight: bold;
}

#divide {
    width: 100%;
    border-bottom: 1px solid #707377;
    margin: 10px 0;
}

#user-name {
    font-size: 0.9rem;
    font-weight: bold;
}

.wrap-up section.side-small,
.wrap-bottom section.side-small {
    display: none;
}


/* ***************************************************** */
/* PLAYER STYLE */
#player {
    background-color: #282828;
    height: 100px;
    color: white;
    font-weight: bold;
}

.container-player {
    display: flex;
    height: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.image-player {
    width: 50px;
    height: 50px;
}

.image-player img {
    width: 100%;
    object-fit: contain;
}

.brano-player {
    font-size: 0.7rem;
}

.icon-player-left i {
    padding: 0 3px;
}

.icon-player-right{
    display: flex;
    align-items: center;
}

.icon-player-right span{
    padding: 0 10px;
}

.line{
    width: 200px;
    height: 5px;
    background-color: #707377;
    border-radius: 10px;
}




/* ****************************************************** */
/* TABLET VERSION */
@media all and (max-width: 878px) {
    .col {
        width: calc(100% / 4 - 22px);
    }

    #sub-nav ul li {
        width: calc(100% / 5);
        padding: 10px;
    }

    .wrap-up section.side-small,
    .wrap-bottom section.side-small {
        display: none;
    }
}


/* ****************************************************** */
/* MOBILE VERSION */
@media all and (max-width: 639px) {
    .col {
        width: calc(100% / 2 - 22px);
    }

    #sub-nav ul li {
        width: calc(100% / 3);
    }

    .wrap-up section.side-small,
    .wrap-bottom section.side-small {
        display: none;
    }

}


/* ****************************************************** */
/* SMALL-MOBILE VERSION */
@media all and (max-width: 552px) {
    .col {
        width: calc(100% / 2 - 22px);
    }

    #sub-nav ul li {
        width: calc(100% / 4);
        padding: 5px;
    }

    #side-bar {
        width: 50px;

    }

    .wrap-up section.side-large,
    .wrap-middle section.side-large,
    .wrap-bottom section.side-large {
        display: none;
    }

    #content {
        width: calc(100vw - 40px);
    }

    section.side-small {
        padding: 0;
    }

    .wrap-up .side-small span {
        padding: 7px 0;
    }

    .wrap-bottom .side-small {
        padding-top: 35px;
    }

    .wrap-bottom .side-small span {
        padding: 7px 0;
    }

    .wrap-up section.side-small,
    .wrap-bottom section.side-small {
        display: block;
    }

}