/*************************************************
    RESET STYLES
 *************************************************/


:root {
    font-family: 'PT Sans', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.text-left{
    text-align: left;
}


/* DESKTOP VERSION */
/* MAIN CONTENT STYLE */
#main-content {
    background-color: blue;
    height: calc(100vh - 100px);
}

#side-bar {
    background-color: #000000;
    height: 100%;
    width: 200px;
    z-index: 500;
}


/* CONTENT STYLE */

#content{
    background-color:#141922;
    padding-top: 100px;
    width: calc(100vw - 200px);
    overflow-y: auto;
}

section{
    padding: 30px 0;
}

.row{
    display: flex;
    gap: 22px;
}

nav{
    background-color: #080b127c;
    height: 100px;
    width: 99%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content:end;
    align-items: center;
}

nav a{
    color: white;
    position: absolute;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 0.8rem;

}


ul.flex{
    justify-content: center;
}

#sub-nav ul li{
    list-style: none;
    color: #707377;
    padding: 15px;
}

#sub-nav ul li a{
    color: #707377;
}

#sub-nav ul li a:hover{
    color: #c3cad3;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 95%;
    margin: 0 auto;
}



.image{
    width: 250px;
    height: 250px;
    margin: 10px 0;
    border-radius: 50%;

}

.image img{
    width: 100%;
}

.image img.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}



.title{
    color: white;
    text-align: center;
}

.title h1{
    padding: 10px 0;
}

.sub-title{
    color: #707377;
    font-size: 0.8rem;
    text-align: center;
}

.col-6{
    width: calc(100% / 6 - 22px);
}


/* create-for-you STYLE */
.create-for-you div.sub-title{
    text-align: left;
}

/* popolar STYLE */
.popolar div.sub-title{
    text-align: left;
}

.popolar div.for-you .row div.col-6 div.image{
    border-radius: 50%;
}







/* PLAYER STYLE */
#player {
    background-color: #282828;
    height: 100px;
}